.todoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

  .loading {
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #666666;
  }
  
  .todoCard {
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }

  .deleteContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #666666;
  }
  
  .todoCard:hover {
    transform: translateY(-5px);
  }
  
  .todoTitle {
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .todoStatus {
    font-size: 1rem;
    color: #666666;
    font-style: italic;
  }
  
  .todoDescription {
    font-size: 1rem;
    color: #555555;
  }

  @media only screen and (max-width: 600px) {
    .card {
      width: calc(50% - 10px); /* Two cards per row on screens <= 600px */
    }
  }

  @media only screen and (max-width: 400px) {
    .card {
      width: 100%; /* One card per row on screens <= 400px */
    }
  }
